version: '3.8'

services:
  rabbitmq:
    image: heidiks/rabbitmq-delayed-message-exchange:latest
    container_name: rabbitmq
    hostname: my-rabbit
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"   # AMQP порт для Go приложения
      - "15672:15672" # Management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_logs:/var/log/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 3

  redis:
    image: redis:alpine
    container_name: redisdb
    restart: always
    environment:
      - REDIS_PASSWORD=password
    command: redis-server --requirepass password --bind 0.0.0.0
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data

volumes:
  rabbitmq_data:
  rabbitmq_logs:
